.title1{
  margin:3px;
  min-height:400px;
  text-align:center;
  color:#ffcc66;
  text-shadow: 2px 2px grey;
}

#intro {
  /* margin-top: 40px;
  margin-bottom: 40px; */
  border: 25px;
  border: 2px solid #0033cc;
  padding: 20px;
  overflow-y: auto;
  height: 270px; // Fixed height
  max-height: 100%;
}
#mission {
  /* margin-top: 40px;
  margin-bottom: 40px; */

  border: 25px;
  border: 2px solid #0033cc;
  padding: 20px;
  overflow-y: auto;
  height: 270px; // Fixed height
  max-height: 100%;
}
#visuals {
  /* margin-top: 40px;
  margin-bottom: 40px; */
  border: 25px;
  border: 2px solid #0033cc;
  padding: 20px;
  overflow-y: auto;
  height: 270px; // Fixed height
  max-height: 100%;
}

.tooltip-inner{
  /* visibility: hidden; */
  width: 1000px;
  background-color: steelblue;
  text-align: left;
  border-radius: 6px;
  padding: 10px 20;
}

#an1{
  text-align:center;
  margin: 3px;
}
#an2{
  text-align:center;
  margin: 3px;
}
#an3{
  text-align:center;
  margin: 3px;
}
#an4{
  text-align:center;
  margin: 3px;
}
#an5{
  text-align:center;
  margin: 3px;
}
#an6{
  text-align:center;
  margin: 3px;
}

.tableauViz{
  width: 400px;
  height: 300px
}

.team_info{
  text-align: center;
  /*width: 150px;*/
  padding: 20px 20px;
}

.team_photo{
  background-color: white;
  text-align: center;
  border-radius: 10px;
  /*border: 1px solid #ddd;*/
/*  padding-left: 5%;
  padding-right: 5%;*/
  /*width: 80%;*/
  width: 300px;
  height: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.team_photo img{
  width: 50%;
  max-height: 70%;
  /*height: auto;*/
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 10%;

}

.container {
  position: relative;
  text-align: center;


}

.centered {
  position: absolute;
  color: white;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);

}
